{% extends "base_login.html" %}
{% block title %}User Login{% endblock %} 

{% block content %}
<div class="container">
    <h2>ADMIN LOGIN</h2>
    <form method="post">
      <div class="mb-3 mt-3">
        <label for="username">Username:</label>
        <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="container">
    <center><a href='/login'>For User Login</a> </center>
  </div>
  {% endblock %}