{% extends 'base_page.html' %}
{% block title %} Not found {% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Sorry, No Results Found!!!</h4>
                <p class="mb-0">We couldn't find what you are searching for </p>
                <p class="mb-0">Try searching again </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}